VIDEOCENTER_ENVIRONMENT=development
VIDEOCENTER_APP_NAME=VideoCenter Development
VIDEOCENTER_DEBUG=true
VIDEOCENTER_LOG_LEVEL=DEBUG
VIDEOCENTER_DOCS_ENABLED=true
VIDEOCENTER_DATABASE_ECHO=false
VIDEOCENTER_DATABASE_URL=sqlite:///./data/videocenter-development.db
VIDEOCENTER_MEDIA_ROOT=./data/media
VIDEOCENTER_API_PREFIX=/api/v1
VIDEOCENTER_CORS_ORIGINS=["http://localhost:3000","http://localhost:5173"]
