VIDEOCENTER_ENVIRONMENT=testing
VIDEOCENTER_APP_NAME=VideoCenter Testing
VIDEOCENTER_DEBUG=false
VIDEOCENTER_LOG_LEVEL=WARNING
VIDEOCENTER_DOCS_ENABLED=false
VIDEOCENTER_DATABASE_ECHO=false
VIDEOCENTER_DATABASE_URL=sqlite:///./data/videocenter-testing.db
VIDEOCENTER_MEDIA_ROOT=./data/testing-media
VIDEOCENTER_API_PREFIX=/api/v1
VIDEOCENTER_CORS_ORIGINS=[]
